lazygit
wget
ripgrep
tmux
neovim
ranger
node
pnpm
fd
neofetch
btop
stow
tree
fzf
vercel-cli
tursodatabase/tap/turso
bun
koekeishiya/formulae/yabai
koekeishiya/formulae/skhd
go
pyenv
nvm
blackhole-2ch
gnu-sed
jq
